<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Trails</title>
  <link rel="stylesheet" type="text/css" href="/assets/login_form_stylesheet.css">
</head>
<body>
  <h1>Welcome to Trails Demo. This is simple TODOs website made to showcase the Trails project</h1>
  <h1>Trails is a Model-View-Controller server inspired by rails</h1>
    <h2>please log in with Username: <span>spock</span> and password: <span>starwars</span></h2>
    
    <form action="/" method="post">
    <label>Name
      <input type="text">
    </label>
    <label>Password
      <input type="password">
    </label>
    <input type="submit" value="Submit">
    </form>
</body>
</html>