<h1>Static Content Server Demo</h1>
<h2>This is a demo of static content server portion of Trails</h2>
<p>The static content server allows the server to serve any file stored in the Assets directory of the server, allowing for css, images and other content to be used on the server</p>
<a href="./assets/astro-sloth.jpg">Click on this link to open an image hosted on this server</a>