<h1>Welcome to Trails Demo</h1>
<h2>This is a simple model-view-controller server framework with ORM made by Nader Arbabian</h2>
<h3>Click on any of the demos below to see the server in action plus source code snippets</h3>
<a href="/flash">Flash Demo</a>
<a href="">Session and cookue Demo</a>
<a href="">RecordKeeper Demo (A Ruby ORM)</a>
<a href="">Router Demo</a>
<a href="">Static Content Serving</a>
<a href="">ControllerBase Demo</a>
