<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome to Trails!</title>
</head>
<body>
<h1>Welcome to Trails Demo</h1>
<h2>This is a simple model-view-controller server framework with ORM made by Nader Arbabian</h2>
<h3>Click on any of the demos below to see the server in action plus source code snippets</h3>
<div>
<a href="/flash">Flash Demo</a>
<a href="/cookies">Session and Cookie Demo</a>
<a href="recordkeeper">RecordKeeper Demo (A Ruby ORM)</a>
<a href="static">Static Content Serving</a>
</div>

<a href="/router">Router Source Code Demo</a>
<a href="controllerbase">ControllerBase Source Code Demo</a>
  
</body>
</html>
