<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome to Trails!</title>
  <link rel="stylesheet" href="assets/stylesheet.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src='assets/script.js'></script>

</head>
<body>
<div class='main-head'>
  <div class='title'>
    <h1>Welcome to Trails Demo!</h1>

    <h2>This is a simple model-view-controller server framework and ORM </h2>
    <h2>This website is hosted on Heroku and is running on the very source code demoed here! it is also connected to Heroku PostgreSQL using RecordKeepr,the ORM also demoed here.</h2>
    
    <h3>Click on any of the demos below to see the server in action plus source code snippets</h3>
  </div>
  <div class='link-container'>
      <a class='link-box' href="/flash">Flash Demo</a>
      <a class='link-box' href="/cookies">Session and Cookie Demo</a>
      <a class='link-box' href="recordkeeper">RecordKeeper Demo <br> (A Ruby ORM)</a>
      <a class='link-box' href="static">Static Content Serving Demo</a>
      <a class='link-box' href="/router">Router Source Code Demo</a>
      <a class='link-box' href="controllerbase">ControllerBase Source Code Demo</a>
  </div>
  <br><br><br>
    <div class="author">
       <h3>A project by Nader Arbabian</h3>
    </div>
</div>
</body>
<footer class="footer">
  <ul class="icons">
    <li><a href="mailto:nader.arb72@gmail.com" class="icon fa fa-envelope "></a></li>

    <li><a href="https://www.linkedin.com/in/naderarbabian/" class="icon fa fa-linkedin-square "></a></li>

    <li><a href="https://github.com/Nader-gator/Trails_demo" class="icon fa fa-github "></a></li>
  </ul>

</footer>
</html>
